/*Global Styles*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: $sans-regular;
  color: #333;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}

/* Animations */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes checked-anim {
  50% {
    width: 100%;
    height: 100%;
  }

  100% {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.global_horarios {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 3;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  &.active {
    display: flex;
  }
  img {
    width: 60%;
    height: auto;
    object-fit: contain;
  }
}

.glass {
  background: white;
  min-height: 80vh;
  width: 1280px;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
  position: relative;
  z-index: 1;
  padding: 40px;
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
  position: absolute;
  border-radius: 50%;
}
.circle1 {
  height: 200px;
  width: 200px;
  top: 10%;
  left: 10%;
  transform: translate(-10%, -10%);
}
.circle2 {
  height: 300px;
  width: 300px;
  bottom: 10%;
  right: 5%;
  transform: translate(-5%, 10%);
}

.social_network {
  position: fixed;
  bottom: 50px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  &-link {
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background ease-in-out 0.2s;
    &:hover {
      background-color: #fff;
    }
    &:nth-child(2) {
      margin: 0 10px;
    }
    img {
      width: auto;
      height: auto;
    }
  }
}

.contact_button {
  position: fixed;
  bottom: 120px;
  right: 10px;
  z-index: 5;
  &--trigger {
    border-radius: 50%;
    border: 0;
    width: 60px;
    height: 60px;
    background: linear-gradient(to left top, rgba(255, 255, 255, 1), rgba(255, 51, 51, 1));
    cursor: pointer;
    transition: background ease-in-out 0.2s;
    &:hover {
      background: $primary-blue-color;
    }
    img {
      width: auto;
      height: auto;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .glass {
    width: 100%;
    min-height: auto;
    padding: 50px 25px;
    border-radius: 0px;
  }

  .global_horarios {
    img {
      width: 100%;
    }
  }

  .social_network {
    flex-direction: column;
    &-link {
      width: 35px;
      height: 35px;
      &:nth-child(2) {
        margin: 10px 0;
      }
      img {
        width: 22px;
      }
    }
  }
  .contact_button {
    display: none;
  }
}
