main {
  background: linear-gradient(to right top, #65dfc9, #6cddeb);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  position: relative;

  .global__section {
    &_top {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      height: 380px;
      &_personalInfo {
        display: flex;
        justify-content: space-around;
        background: linear-gradient(
          to right bottom,
          rgba(255, 255, 255, 0.7),
          rgba(255, 255, 255, 0.3)
        );
        border-radius: 2rem;
        padding: 20px;
        width: 55%;
        margin-right: 30px;
        &__leftContainer {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &--info {
            h2 {
              font-family: $sans-bold;
              font-size: 30px;
            }
            p {
              margin: 10px 0 20px;
              font-family: $roboto-regular;
              text-align: justify;
            }
            a {
              display: flex;
              align-items: center;
              color: #0000ff;
              transition: all ease-in 0.2s;
              &:hover {
                font-weight: bold;
              }
              &:before {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                margin-right: 5px;
                background-image: url("../../images/icons/telephone_icon.png");
                background-repeat: no-repeat;
                background-size: contain;
              }
            }
          }
          &--whatBtn {
            margin-left: 25px;
            a {
              display: block;
              width: auto;
              height: auto;
              &:hover {
                animation: pulse;
                animation-duration: 1s;
              }
            }
          }
        }
      }
      &_slider {
      }
    }

    &_specsInfo {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      margin: 40px 0;
      &--card {
        width: 32%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: justify;
        border-radius: 2rem;
        padding: 30px 25px;
        background: linear-gradient(to left top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
        &:hover {
          animation: pulse;
          animation-duration: 0.5s;
          figure {
            background-color: #fbe7c8;
          }
        }
        figure {
          margin-bottom: 15px;
          border-radius: 50%;
          border: 1px solid;
          width: auto;
          height: auto;
          padding: 20px;
          transition: all ease-in 0.5s;
          img {
            width: 100%;
            height: 100%;
            display: block;
          }
        }
        h3 {
          margin-bottom: 10px;
          font-family: $sans-semiBold;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }
}
.glass {
  background: white;
  min-height: 80vh;
  width: 1280px;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
  position: relative;
  z-index: 1;
  padding: 40px;
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
  position: absolute;
  border-radius: 50%;
}
.circle1 {
  height: 200px;
  width: 200px;
  top: 10%;
  left: 10%;
  transform: translate(-10%, -10%);
}
.circle2 {
  height: 300px;
  width: 300px;
  bottom: -10%;
  right: 5%;
  transform: translate(-5%, 10%);
}
@media (max-width: $breakpoint-mobile) {
}
